.startSection {
    width: 100%;
    height: calc(100vh - calc(62px + 32px));
    margin-top: calc(62px + 16px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5em;
    /* background-image: url(); */
}

.startRight {
    margin-left: -96px;
    margin-top: -8px;
}

.leftPart {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 2%;
    width: 100%;
}

.kamenLogo {
    display: flex;
    flex-direction: row;
}

.rightPart {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 8%;
    width: 80%;
}

.startSectionContent {
    height: 70%;
    width: 70%; 
}

.letters {
    margin-top: 20px;
}